.Center-ContainerUpdateProduct{
    position: absolute;
    width: 82%;
    top: 0;
    left: 15vw;
    height: 70vh;
    top: 15vh;
}
.UpdateProductContainer { 
    display: flex;
    width: 80%;
    /* height: 50%; */
}

.photoContainer-Up { 
    width: 40%;
    height: 100%;
}
.photoContainer-Up img {
    width: 100%;
    height: 100%;
}

.INFO { 
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.INFO p { 
    width: 50%;
}

.INFO .flexDiv { 
    display: flex;
}

.catgDiv { 
    margin-top: 15px;
    display: flex;
}

.Test { 
    margin-top: 30px;
}
.cloudSpace{
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 4px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
  
}