.Container { 
    display: flex;
    width: 100%;
}

.allCategory {
  display: flex;
      margin-left: 1em;
      width: 100%;
      gap: 5px;
}
.category{
/* padding: 1em; */
cursor: pointer;
height: 20%;
font-size: 16px;

}
.returnDiv{
    display: flex;
 flex-direction: column;
width: 20%;
align-items: center;
justify-content: center;
border: solid black 1px;
height: 20%;
padding: 5px;
}
.categoryImg{
    height: 80%;
width: 90%;
border-radius: 100%;
object-fit: contain;
}

.introOfCategoryPath{
    margin-left: 1em;
    text-align: start;
    margin-bottom: .6em;
}
