.WishlisContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
  }
  
  
  .WishlisOneProduct {
    display: flex;
    width: 80%;
    height: fit-content;
    align-items: center;
    height: 20%;
    gap: 10%;
    padding: 10px;
    border-bottom: 1px solid;
  }
  
  .WishlisHeader-P {
    margin-left: 30%;
  }
  
  .ContainerInfoAndImage {
    width: 50%;
    height: 100%;
    display: flex;
  }
  
  .ContainerInfoAndImage .infoInWishlis {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
  }
  
  .ContainerInfoAndImage .Image {
    width: 40%;
    height: 100%;
    background-color: tan;
  }
  
  .WishlisOneProduct .Image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .WishlisQuantity {
    width: 30%;
    height: 100%;
  }
  
  .WishlisTotal {
    width: 30%;
    height: 100%;
  }
  
  .ImageInWishlis img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .WishlisPrice {
    width: 10%;
    height: 100%;
  }
  
  .WishlisBtnsContainer {
    display: flex;
    justify-content: center;
    border: 1px solid #b4a9ad;
  }
  .WishlisBtnsContainer span {
    width: 60%;
  }
  
  .WishlisBtnsContainer button {
    width: 20%;
    border: none;
    cursor: pointer;
  }
  
  /* .Bottom  { 
      align-self: flex-end;
  } */
  
  .WishlisTotal button {
    position: absolute;
    right: 0;
    color: white;
    background-color: rgb(161, 42, 52);
  }
  