.shopNowButton {
  display: flex;
  padding: 15px;
  font-size: 24px;
  justify-content: center;
  cursor: pointer;
  color: red;
}

/* .Header-Photo {
  display: flex;
  width: 100%;
  height: 75vh;
  background-color: var(--mainColor);
} */

.Image-H {
  padding: 5px;
  width: 100%;
  height: 100%;
}

.Image-H img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.HomeBtns {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-size: 23px;
}

.HomeBtns span {
  transition: 0.3s;
  cursor: pointer;
}
.HomeBtns span:hover {
  transition: 0.3s;
  color: var(--btnsColor);
}

.HomeBtns .Active_HomeP {
  color: var(--btnsColor);
}

/* Product Cart */
.Cards-Container {
  display: flex;
  height: 40vh;
  width: 100%;
  padding: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  height: 100%;
  margin-top: 20px;
}

.content {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

.front {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.front .imgContainer {
  width: 100%;
  height: 80%;
}

.front .imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Price-Title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.Price-Title .Title {
  font-weight: 600;
}
.Price-Title .Price {
  color: var(--btnsColor);
  font-weight: 400;
}

.front,
.back {
  height: 100%;
  width: 100%;
  background-color: var(--mainColor);
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  background: var(--mainColor);
  color: white;
  transform: rotateY(180deg);
}

.Slider {
  width: 100%;
  height: 90vh;
  background-color: var(--mainColor);
}
.Slider div {
  width: 100% !important;
  left: 0 !important;
}
.Slider .rsis-image {
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back .Flip .Show-More {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.Flip .Cart-Btns {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0px;
  display: flex;
  gap: 5px;
  font-size: 22px;
  color: var(--btnsColor);
}

.Flip .Cart-Btns span {
  cursor: pointer;
}
