.Links-Admin {
  background-color: var(--mainColor);
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-right:solid 5px  #529dbc;
  
}

.Links-Admin a {
  cursor: pointer;
  margin-left: 12px;
}

a:hover {
  transition: .3s;
 color: #529dbc;
}