/* Style the header with a grey background and some padding */
.NavBar {
  height: 10vh;
  padding: 5px;
  width: 100%;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--subColor);
}

.LOGO {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: flex-start;
}

.CENTER-NAV {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.RIGT-NAV {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}

.NavBar span {
  cursor: pointer;
}
