/* Style the header with a grey background and some padding */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap");

.NavBar {
  height: 12vh;
  width: 100%;
  background-color: var(--NavColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
  /* font-weight: 600; */
  color: var(--subColor);
}

.SEARCH-Container input {
  padding: 10px;
  border-color: none;
  border: none;
  border-radius: 15px;
  border: -0.7px solid;
  border: 0.1px solid #dcd9d9;
  outline-color: #dcd9d9;
  font-size: 16px;
  color: var(--BlackColor);
  outline-style: none;
  padding-left: 15px;
}

.SEARCH-Container {
  position: relative;
}
.SEARCH-Container .SEARCH-ICON {
  position: absolute;
  top: 20%;
  right: 5%;
}

.SEARCH-Container .SEARCH-ICON svg {
  font-size: 20px;
}

.LOGO {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: flex-start;
  padding-top: 10px;
  font-family: "Cabin", sans-serif;
}

.LOGO .LOGOTEST {
  font-size: 45px;
  color: var(--BlackColor);
  font-weight: 600;
  text-shadow: 3px 4px 2px var(--subColor);
}

.LOGO .ICON {
  margin-top: 5px;
}
.LOGO .ICON svg {
  font-size: 50px;
}

.CENTER-NAV {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-evenly;
  padding-top: 10px;
  position: relative;
  /* DropDown */
}

.RIGT-NAV span:hover,
.CENTER-NAV span:hover {
  color: var(--btnsColor);
  transition: 0.3s;
}

.RIGT-NAV {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  padding-top: 10px;
}

.NavBar span {
  cursor: pointer;
}

.CART-NAV {
  position: relative;
}
.CART-NAV svg {
  transform: rotateY(180deg);
  font-size: 22px;
}

/* .CART-NAV .Number {
  background-color: var(--btnsColor);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 3%;
  right: -35%;
  top: -60%;
  text-align: center;
} */

.Login-Logout svg {
  font-size: 22px;
}

.WISH-NAV {
  position: relative;
}
.WISH-NAV svg {
  /* transform: rotateY(180deg); */
  font-size: 22px;
}

/* .WISH-NAV .Number {
  background-color: var(--btnsColor);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 3%;
  right: -35%;
  top: -60%;
  text-align: center;
} */
.CART-NAV .Number,
.WISH-NAV .Number {
  background-color: var(--btnsColor);
  width: 20px;
  height: 21px;
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 3%;
  right: -45%;
  top: -65%;
  text-align: center;
  font-size: 15px;
}

.Catg-IconCont {
  display: flex;
  padding-top: 2px;
}

.Catg-IconCont:hover {
  color: var(--btnsColor);
}

.DropIcon {
  margin-top: 4px;
}
.Catg-IconCont .DropIcon span svg {
  font-size: 17px;
}

.DropDev {
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: #f4f4ff;
  border-color: unset;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  top: 80%;
  display: none;
  transition: 0.4s ease-in-out;
  right: 39%;
}
.Catg-IconCont:hover ~ .DropDev {
  display: flex;
}
.DropDev:hover {
  display: flex;
}
.DropDev:hover ~ .Catg-IconCont {
  color: var(--btnsColor);
}
