.NewCategory {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .categoryReturn{


  }
  .categoryContainer1{
    position: absolute;
    display: flex;
    
    /* flex-direction: column; */
    
    left: 15%;
    width: 85%;
    height: 100vh;
    background-color: antiquewhite;
  }