/* .Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row-Container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.category-box {
  width: 30%;
  display: flex;
  border: 1px solid;
  cursor: pointer;
}

.image-Container {
  width: 45%;
  height: 70%;
}

.ONEProductImage {
  height: 100%;
  width: 100%;
} */

.CONTANER {
  display: flex;
  flex-direction: column;
}

.CONTANER .Section-Header {
  height: 90vh;
  /* background-color: var(--mainColor); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://c.top4top.io/p_2359uq0511.png");

  background-size: cover;
}

.Section-Header h2 {
  font-size: 35px;
}

.CONTANER .FilterBtns {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 17px;
  color: var(--subColor);
  margin-top: 10vh;
}

.FilterBtns .F_:hover {
  color: var(--btnsColor);
  transition: 0.3s;
}

.CONTANER .Card-Container {
  gap: 2%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.CONTANER .card {
  width: 23%;
  height: 50vh;
  margin-top: 10vh;
  padding: 10px;
}

.CONTANER .content {
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 15px rgb(0 0 0 / 10%); */
  transition: transform 1s;
  transform-style: preserve-3d;
}

.CONTANER .front,
.back {
  height: 100%;
  width: 100%;
  /* background-color: var(--mainColor); */
  background-color: white;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.CONTANER .front .imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.card_Price {
  color: var(--btnsColor);
}

.FilterBtns span {
  cursor: pointer;
}
.FlippedImg {
  width: 100%;
  height: 80%;
}

.FlippedImg img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  object-fit: scale-down;
}
