/* 
.footer{    
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px;
    background:blanchedalmond;
background-color: antiquewhite;
} */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap");

.footer {
	bottom:0;
	left:0;
	position:fixed;
    flex-direction: column;
    width: 100%;
    height: 100px;
    overflow:hidden;
    margin:0 auto;
    display: flex;
	z-index:999;
    /* background-color: whitesmoke; */
} 

.footerLeft{
    display: flex;
    flex-direction: row;
    width: 40px;
    /* cursor: pointer; */
    text-align: left;
    background-color: aquamarine;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.footercontent p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    align-items: flex-start;
    display: inline;
    /* margin: 10px; */
    margin-left: 5px;
    cursor: pointer;

    
}
.colom22{
    display: flex;
    flex-direction: row;

    height: 40vh;
    background-color: yellow;
    z-index:1;
}
.colom22 p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    align-items: flex-start;
    display: inline;
    margin: 10px;
}
.logofooter span{
    cursor: pointer;
}