.CheckOuContainer {
  width: 100%;
  height: 88vh;
}

.CheckOutPage {
  width: 100%;
  height: 100%;
  display: flex;
}

.UserShippingInfo-L {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.OrdersInfo-R {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--mainColor);
}
.ContactInfo {
  display: flex;
  flex-direction: column;
}

.shippingAdress {
  display: flex;
  flex-direction: column;
}

.UserShippingInfo-L input {
  padding: 3px;
}
.Input-Label {
  display: flex;
  flex-direction: column;
}
.FirstAndLastName {
  display: flex;
}
