.CheckOuContainer {
  width: 100%;
  height: 88vh;
}

.CheckOutPage {
  width: 100%;
  height: 100%;
  display: flex;
}

.UserShippingInfo-L {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
  /* padding: 15px; */
  align-items: center;
}

.OrdersInfo-R {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--mainColor);
}
.ContactInfo {
  display: flex;
  flex-direction: column;
}

.ContactInfo span,
.shippingAdress span {
  font-size: 18px;
  margin-bottom: 10px;
}

.shippingAdress,
.ContactInfo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 65%;
}

.UserShippingInfo-L input {
  padding: 3px;
}
.Input-Label {
  display: flex;
  flex-direction: column;
}
.FirstAndLastName {
  display: flex;
  margin: 0 auto;
  width: 65%;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}
.MessageAfterPayment {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4ff;
  border-radius: 10px;
  border-color: unset;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: var(--subColor) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  outline-style: unset;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ceneteInsidePopUp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 5px;
}
.btnPaymentPopUp button {
  height: 40px;
  background-color: var(--secondaryBlack);
  color: var(--NavColor);
  padding: 5px;
  border: unset;
  align-self: flex-end;
}

.Input-Label {
  /* border: 1px solid;
  padding: 10px; */
  border: 1px solid;
  padding: 5px;
  height: 9vh;
  font-size: 14px;
}

.Input-Label input {
  border: none;
  outline-style: unset;
  width: 100%;
}

.Input-Label label {
  opacity: 0.7;
  font-size: 14px;
}

.F {
  width: 50%;
}

.Ph {
  width: 65%;
}

.PaymentDiv {
  width: 100%;
}

.PaypalInCheckoutPage {
  width: 65%;
}
