
.userAdmin-Container1 {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 15%;
  width: 85%;
  height: 100%;
}

.All_users_Line {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 3%;
}
