.Center-Container_Users {
  position: absolute;
  width: 85%;
  top: 0;
  left: 15%;
  height:70vh;
}
.UsersInControlPanel{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin-top:26vh ;
}

/* .userAdmin-Container1 {
  background-color: aliceblue;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  left: 15%;
  width: 85%;
  height: 100%;
  text-align: start;
  justify-content: flex-start;
} */

.All_users_Line {
  display: flex;
    width: 100%;
  height: 20%;
  /* align-items: center; */
  /* margin-top: 10%; */
  margin-left: 3%;
 
  
}
.details-users_row{
  display: flex;
  margin-bottom: 8vh;
  width: 100%;
  margin-left: 3%;
  font-weight: 700;
  text-align: start;
  justify-content: flex-start;
}
.details-users_row .details-Users .table img{
  width: 50px;
  height: 40px;
  border-radius: 100%;


}
.clientsBar{
display: flex;
position: absolute;
margin-top: 15vh;
margin-left: 3%;
width: 100%;
font-size: 20px;
font-weight: 600;
height: 5vh;
border-bottom: solid 1px lightsteelblue;
}
.details-Users{
  display: flex;
  width: 100%;  
 
  font-weight: 400;


}
.details-Users p{
  width: 20%;
}
.All_users_Line{

}
.table{
  width: 16%;

}
.eyeIcon{
  cursor: pointer;
  font-size: 30px;
  color: blue;
  margin-bottom: 5px;
}