/* .big_container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
} */
.big_container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* .sec_container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 10px;
  gap: 50px;
} */
.sec_container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  /* padding: 20px; */
  justify-content: flex-start;
}

.inner_container {
  display: flex;
  width: 80%;
  height: 40%;
  flex-direction: column;
  /* padding: 20px; */
  align-items: center;
  justify-content: flex-start;
}

.updateButton {
  width: 90%;

  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--btnsColor);
  height: 40%;
  padding: 5px;
}

.deleteButton {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--btnsColor);
  height: 40%;
  padding: 5px;
}

.userProfileImg {
  width: 70%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
}

.userProfileImg img {
  width: 80%;
  height: 100%;
  border-radius: 100%;
  object-fit: fill;
}

.datails-Container_profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 45%;
}

.line {
  display: flex;
  /* flex-direction: column; */
  border-color: currentcolor currentcolor rgb(80, 87, 90);
  font-size: 22px;
  color: black;
  background-image: initial;
  background-color: transparent;
  border-style: none none solid;
  margin: 0px 0px 20px;
  width: 80%;
  height: 100%;
}

.inLine {
  display: flex;
  /* flex-direction: column; */
  /* border-color: currentcolor currentcolor rgb(80, 87, 90); */
  font-size: 20px;
  color: rgb(80, 87, 90);
  background-image: initial;
  background-color: transparent;
  /* border-style: none none solid; */
  /* margin: 0px 0px 20px; */
  width: 78%;
  height: 100%;
  /* padding: 5px; */
  /* gap: 10px; */
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.Di {
  display: flex;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
}
.nameInfo {
  color: black;
  background-image: initial;
  background-color: transparent;
  font-weight: 600;
  font-size: 26px;
}
.popUp1 {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4ff;
  border-radius: 10px;
  border-color: unset;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.firstName1 {
  border-color: currentcolor currentcolor rgb(80, 87, 90);
  color: rgb(43, 41, 41);
  font-size: 18px;
  background-image: initial;
  background-color: transparent;
  border-style: none none solid;
  margin: 0px 0px 20px;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
}

.UpdateProfileButton {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  cursor: pointer;
  transition: all 0.3s;
  /* margin-top: 20px; */
  /* margin-bottom: 5px; */
  height: 20%;
  color: var(--btnsColor);
  font-size: 16px;
  font-weight: 600;
}

.updateButton {
  width: 100%;
}
.deleteButton {
  width: 100%;
}

.cloud {
  display: flex;
  width: 100%;
  height: 100%;
}
.cloud button {
  cursor: pointer;
  transition: all 0.3s;
  width: 30%;
  height: 40%;
}
.cloud input {
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
}

.Header_Profile {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
}

.profileOrder {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  height: 100%;
}

.Profile-Cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.BtnsProfileOrder {
  display: flex;
  gap: 5px;
}

.LeftContainer-Profile {
  display: flex;
  height: 88vh;
  width: 100%;
  /* margin-top: 5vh; */
}

.Container-INFO {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border: 1px solid;
}

.ProfileBtns {
  gap: 5px;
  height: 15%;
  display: flex;
  flex-direction: column;
}

.LeftContainer-ProfileVisit { 
  display: flex;
  height: 88vh;
  width: 100%;
  justify-content: center;
}