.Center-Container-AdminUserOrders{
  position: absolute;
  width: 82%;
  top: 0;
  left: 15vw;
  height:70vh;
}
.Col-Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.headerOfOrderForOneUser{
  display: flex;
  gap: 24px;
  align-items: center;
margin-top: 15vh;
margin-left: 3%;
width: 96%;
font-size: 20px;
font-weight: 600;
height: 5vh;
border-bottom: solid 1px lightsteelblue;
}
.spanIcon{
  display: flex;
  font-weight: 800;
  align-items: center;
gap: 24px;
}
.OneOrderDetail {
  display: flex;
  border-bottom: 1px solid;
  height: 20%;
  width: 100%;
  padding: 1%;
  justify-content: space-around;
  align-items: center;
}
.productInTable{
  width: 97.5%;
  margin-top: 5vh;
  height: fit-content;
  padding: 20px;
  position: absolute;
  left: 4vh;
  top: 22vh;
  align-items: center;
  justify-content: center;
}

tr {
  text-align: center;
}

td {
  height: 15vh;
  padding: 10px;
}

.productInTable,
.productInTable th,
.productInTable td {
  border-collapse: collapse;
  border: 1px solid #c1c1c1;
  
}
.p-Num1{
  width: 10%;
}
.p-Photo {
  width: 20%;
}
.p-Photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-title {
  width: 15%;
}
.p-description{
  width: 20%;
}
.p-price {
  width: 10%;
}
.p-Date{
  width: 14%;
}
.p-total{
  width: 15%;
}